.App{
    width: 50%;
    margin: auto;
}

/******* CONTENT *******/
h1{
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 3rem;
}

span{
    text-decoration: underline;
    color: darkturquoise;
    font-weight: bolder;
}

.content{
    margin-top: 2rem;
}


fieldset{
    margin-bottom: 2rem;
    padding: 2rem;
}

img{
    width: 100%;
    margin-bottom: 1rem;
}

.accessCodeSource{
    display: flex;
    flex-direction: row;
}

.accessCodeSource>a{
    padding: 1rem;
    border-radius: 20px;
    background: lightblue;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: dimgray;
}

.accessCodeSource>a:hover{
    background: darkturquoise;
}